<nav class="page-nav clear">
    <div class="container">
        <div class="flex-middle">
            <span class="copyright hidden-xs">Copyright &copy;
                <script>document.write(new Date().getFullYear())</script> Victor Messina - Naruto API, All Rights
                Reserved.
            </span>
        </div>
    </div>
</nav>
