<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include('partialsViews/head')%>
</head>

<body class="dark">

    <%- include('partialsViews/preloader')%>

        <main class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-welcome relative">
                    <!-- .close -->
                        <a href="/" class="page-close"><i class="tf-ion-close"></i></a>
                    <!-- /.close -->

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-7">
                                <div class="page-title">
                                    <h2>Naruto <span class="primary">API</span> </h2>
                                    
                                    <form action="/characters/allCharacters">
                                        <input type="submit" value="Buscar todos os personagens">
                                    </form>
                                    
                                    <hr>
                                    
                                    <form action="/characters/findCharacterByName">
                                        <input type="text" name="characterName" placeholder="nome do personagem" />
                                        <input type="submit" value="Buscar personagem">
                                    </form>
                                    
                                </div>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

                    <%- include('partialsViews/footer')%>

                        <!-- /.container -->

                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->

        <!-- ================================
        JavaScript Libraries
        ================================= -->
        <%- include('partialsViews/scripts')%>
</body>

</html>